@import "tailwindcss";

@theme {
  --color-bg1: var(--color-slate-950);
  --color-bg2: var(--color-slate-900);
  --color-out: var(--color-slate-600);
  --color-text1: var(--color-slate-100);
  --color-text2: var(--color-slate-300);
}

/* Dropdown */
.dd {
  @apply block px-4 py-2 cursor-pointer bg-gray-100 hover:bg-gray-200
}
.dd-menu {
  @apply block px-4 py-2 cursor-pointer bg-bg1 text-text1 hover:bg-text1/20
}
.dd-menu-back {
  @apply bg-bg1
}

/* Card */
.card {
  @apply border py-1 rounded
}

/* Icon button */
.icon-btn {
  @apply p-1 px-2 rounded text-text2 hover:bg-text2/20 transition cursor-pointer
}
/* Text button */
.text-btn {
  @apply p-1 px-2 border rounded text-text1 hover:bg-text1/20 transition cursor-pointer
}

/* Input tag */
.my-input {
  @apply p-1 border rounded text-text2
}